email.txt
ruby-decimal.gemspec
html
.DS_Store
pkg
.rbx
rdoc
test/tmp
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
flt/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
